:root {
    --atomic-green: #b1e06b;
    --text-color: white;
    --background-color: #1a1a1a;
    --nav-background: black;
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;

    overflow-x: hidden;
    max-width: 100%;
    min-width: 300px;

    overflow-y: auto;

    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

html {
    min-width: 300px;
}

p {
    line-height: 1.6em;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: var(--atomic-green);
}

h1 {
    font-weight: 3em;
    font-size: 50px;
}

h2 {
    font-size: 2.5em;
}

/* NAVIGATION */
nav {

    background-color: var(--nav-background);
    margin: 0;
    position: fixed;
    height: 100%;
    width: 100%;

    max-width: 2000px;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    transform: translateX(120vw);

    transition:
        transform 0.3s ease-in-out;
    
}

.nav-wrap {
    list-style:none;

    margin: 0;
    padding: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-item h1 {
    margin: 0;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.nav-hamburger {
    color: var(--text-color);
    font-size: 45px;
    float: right;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-bar {
    margin: 0;
    padding: 5px;
    background-color: var(--nav-background);
    position: sticky;
    top: 0;
    z-index: 15;
    height: 80px;
}

.banner-image {
    height: 100%;
}

.current {
    border-bottom: 4px solid var(--atomic-green);
}

/* CONTENT */
/* Hero */
.hero {
    width: 100%;
    height: auto;
    position: relative;
}

.hero-image {
    width: 100%;
    opacity: 50%;
}

.hero-content {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.hero-title {
    font-size: min(4em, 10vw);
    text-align: center;
    margin: 0;
}

.hero-caption {
    font-size: min(1.2em, 5vw);
    text-align: center;
    margin: 10px;
}

/* Interesting content */

.content {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: min(85%, 1800px);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Sponsors */
.sponsor-container {
    position: relative;
    padding: 0 15px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 0.8em;
    color: var(--text-color);
}

.sponsor-logo {
    position: relative;
    width: min(75%, 500px);
    padding: 0;
    object-fit: cover;
    max-height: 180px;
    margin: 0;
    border-radius: 5px;
}

.read-more {
    padding: 10px;
    background-color: var(--atomic-green);
    color: black;
    border-radius: 5px;
    font-weight: 600;
}

.read-more:hover {
    background-color: #7b9b4a;
}

/* Footer */
footer {
    margin: 0;
}

.footer-container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    text-align: center;
    font-size: min(2.7vw, 12px);
}

/* Desktop responsivity */
@media screen and (min-width: 1200px) {
    
    nav {
        transform: translate(0, 0);
        opacity: 1;
        z-index: 50;
        position:fixed;
        top: 0;
        right: 0;
        height: 90px;
        background-color: #00000000;
    }

    .nav-wrap {
        width: 80%;
        display: flex;
        flex-direction: row;
        right: 0;
        justify-content: end;
        margin-right: 80px;
    }

    .nav-item {
        display: inline-block;
        font-size: 2.5em;
        margin-left: 80px;
        /* flex-grow: 1; */
    }

    .nav-item h1 {
        font-size: min(2.5em, 40px);
        margin: 0;
    }

    .nav-hamburger {
        display: none;
    }
}

@media screen and (min-width: 2300px) {

    .banner-image {
        margin-left: 10%;
    }

    nav {
        margin-right: 10%;
    }
}