.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: min(85%, 1800px);
    margin: auto;
}

.item {
    position: relative;
    width: 100%;
}

.profile {
    max-width: 100%;
    /* position: absolute; */
}

.name {
    position: absolute;
    font-size: 2.5em;
    bottom: 0;
    color: #c4c4c4;
    /* mix-blend-mode: exclusion; */
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.description {
    font-size: smaller;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}