h1 {
    font-size: 60px;
}
.post {
    width: min(85%, 1800px);
    margin: 40px auto;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.post-image {
    width: 70%;
    display: block;
    margin: auto;
}

.post-content {
    padding: 50px;
}

.hero-image {
    max-height: 80vh;
    object-fit: cover;
}

.full-post {
    width: min(85%, 1800px);
    margin: 40px auto;
    position: relative;
    text-align: center;
}

.post-title {
    margin: 0;
}

.post-date {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.blog-image {
    max-width: 50%;
}

.blog-image-large {
    width: max(50%, 300px);
}

@media screen and (min-width: 1200px) {
    .post {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
    }

    .flip {
        flex-direction: row;
    }

    .inverse {
        flex-direction: row;
    }

    .post-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 0px;
        width: 0;
        height: 100%;
        padding: 50px;
    }

    .post-image {
        flex: 1 1 0px;
        width: 0;
    }
}